<app-web-nav></app-web-nav>


<div class="container-fluid inicio">
    <div class="container">

        <div class="row" style="position: relative;">
            <div class="col-12 bg-normas-img">

            </div>
            <div class="col-12 bg-normas-title">
                <h3><i class="fas fa-book"></i> Instrumentos de Gestión</h3>
            </div>
        </div>

        <br>

        <div class="row mt-2">
            <div class="col-md-4 mb-5">
                <div class="menu-navegacion">
                    <div class="menu-navegacion-titulo text-uppercase">Menu de opciones</div>
                    <a routerLink="/gestion" class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Ley de transparencia</a>
                    <a routerLink="/resoluciones" class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Resoluciones</a>
                    <a class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Cuadro de asignacion de personal</a>
                    <a class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Manual de Organización y Funciones</a>
                    <a class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Reglamento de Organización y Funciones</a>
                    <a class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Texto Único de Procedimientos Administrativos</a>
                    <a class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Texto Único de Servicios no Exclusivos</a>
                    <a class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Reglamento Interno de Trabajo</a>
                    <a class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Reglamento Interno de Consejo</a>
                    <a class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Persupuesto analítico de personal</a>
                </div>
            </div>
            <div class="col-md-8 mb-3 gestion">

              

                <h3>Ley de Transparencia</h3>
                <div class="container-fluid" style="background: none !important;">
                    <div class="row mt-3">
                        <a href="assets/ley_27806.pdf" target="_blank" class="col-12 mt-0 gestion-item">
                            <div class="float-left text-center" style="width: 20%; color:red;">
                                <i class="fas fa-3x fa-file-pdf"></i>
                            </div>
                            <div class="float-left" style="width: 80%;">
                                <h5>1. Ley de Transparencia</h5>
                                <p class="ml-1">Ley N° 27806, de transparencia y acceso a la información pública.</p>
                            </div>
                        </a>
                        <a href="assets/Solicitud_Acceso.pdf" target="_blank" class="col-12 mt-0 gestion-item">
                            <div class="float-left text-center" style="width: 20%; color:red;">
                                <i class="fas fa-3x fa-file-pdf"></i>
                            </div>
                            <div class="float-left" style="width: 80%;">
                                <h5>2. Formulario - Ley de Transparencia</h5>
                                <p class="ml-1">Formulario de acceso a la información pública.</p>
                            </div>
                        </a>
                    </div>
                </div>
               
            </div>
        </div>

    </div>
    <br>
</div>
