
<section>


    <div class="nav-section">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-5 col-sm-5 col-11 alcalde-img pt-2">
                    <img [src]="URI+'upload/general/'+general.url_img" width="100%">
                    <div class="w-100 pl-3 pr-3 position-absolute" style="left:0px; bottom:0px">        
                        <div class="alcalde-nom">{{general.alcalde}}</div>
                    </div>                  
                </div>
                <div class="col-lg-9 col-md-7 col-sm-7 col-12">
                    <div class="row d-lg-block d-md-block d-sm-block d-none mt-1 align-items-center h-100">
                        <div class="col-12 alcalde-des" style="top: 50%; transform: translateY(-50%);">
                            <div class="alert alert-dark" role="alert">
                                <span></span>
                                <div>Trabajando con mucha ilusión, responsabilidad y con absoluta transparencia para que todos podamos disfrutar de nuestro querido Distrito de Orcotuna.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4 mb-1 justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6 col-11 mt-2 mb-2">
                    <a class="text-body icon-cont" routerLink="/resoluciones">
                        <div class="float-left w-25 h-100">
                            <div class="align-c text-center"><img class="icon icon-shadow" src="assets/icons/icon15.png" alt="" width="50"></div>
                        </div>
                        <div class="float-left w-75 align-v p-2 line-h icon-text">
                            Resoluciones municipales
                        </div>  
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-11 mt-2 mb-2">
                    <a class="text-body icon-cont" routerLink="/convocatorias">
                        <div class="float-left w-25 h-100">
                            <div class="align-c text-center"><img class="icon icon-shadow" src="assets/icons/icon08.png" alt="" width="50"></div>
                        </div>
                        <div class="float-left w-75 align-v p-2 line-h icon-text">
                            Convocatorias
                        </div>  
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-11 mt-2 mb-2">
                    <a class="text-body icon-cont" routerLink="/historia">
                        <div class="float-left w-25 h-100">
                            <div class="align-c text-center"><img class="icon icon-shadow" src="assets/icons/icon01.png" alt="" width="50"></div>
                        </div>
                        <div class="float-left w-75 align-v p-2 line-h icon-text">
                            Historia
                        </div>  
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-11 mt-2 mb-2">
                    <a class="text-body icon-cont" routerLink="/municipalidad">
                        <div class="float-left w-25 h-100">
                            <div class="align-c text-center"><img class="icon icon-shadow" src="assets/icons/icon09.png" alt="" width="50"></div>
                        </div>
                        <div class="float-left w-75 align-v p-2 line-h icon-text">
                            Alcaldía
                        </div>  
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-11 mt-2 mb-2">
                    <a class="text-body icon-cont" routerLink="/gestion">
                        <div class="float-left w-25 h-100">
                            <div class="align-c text-center"><img class="icon icon-shadow" src="assets/icons/icon07.png" alt="" width="50"></div>
                        </div>
                        <div class="float-left w-75 align-v p-2 line-h icon-text">
                            Instrumentos de gestión
                        </div>  
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-11 mt-2 mb-2">
                    <a class="text-body icon-cont" routerLink="/servicios">
                        <div class="float-left w-25 h-100">
                            <div class="align-c text-center"><img class="icon icon-shadow" src="assets/icons/icon10.png" alt="" width="50"></div>
                        </div>
                        <div class="float-left w-75 align-v p-2 line-h icon-text">
                            Tramites
                        </div>  
                    </a>
                </div>
            </div>
        
        </div>

      
        <!--
        <div class="container">       
            <div class="swiper-container swiper-container-nav-section">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href="#" class="section-menu"><span><i class="fas fa-2x fa-laptop"></i><p>Consultas en línea</p></span></a></div>
                    <div class="swiper-slide"><a href="#" class="section-menu"><span><i class="far fa-2x fa-copy"></i><p>TUPA</p></span></a></div>
                    <div class="swiper-slide"><a href="#" class="section-menu"><span><i class="fas fa-2x fa-bullhorn"></i><p>Convocatorias</p></span></a></div>
                    <div class="swiper-slide"><a href="#" class="section-menu"><span><i class="fas fa-2x fa-book"></i><p>Normas Instirucionales</p></span></a></div>
                    <div class="swiper-slide"><a href="#" class="section-menu"><span><i class="far fa-2x fa-handshake"></i><p>Tramites</p></span></a></div>
                    <div class="swiper-slide"><a href="#" class="section-menu"><span><i class="fas fa-2x fa-balance-scale"></i><p>Tributos</p></span></a></div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>  
        --> 

    </div>


    <!--
    <br>
    <div class="contenido-alcalde">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="titulos">
                        Alcalde
                    </h3>
                    <br>
                </div>
                <div class="col-sm-3 mb-4 alcalde-img">
                    <img src="../../../assets/alcalde.jpg" width="100%">
                </div>
                <div class="col-sm-9 mb-4 alcalde-des">
                    <div class="alert alert-dark" role="alert">
                        <span></span>
                        <div>Estamos trabajando con mucha ilusión, responsabilidad y con absoluta transparencia, esta última será el impulso de esta gestión y que nos impulsará a ofrecerte más y mejores servicios, para optimizar tu calidad de vida y la de tu familia, y todos podamos así disfrutar plenamente de nuestra querido Distrito de Orcotuna.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    

    <br>

    <div class="contenido-section">
        <div class="container">


            <div class="row mb-5">
                <div class="col-12">
                    <h3 class="titulos"><img class="icon pb-1" src="assets/icons/icon11.png"  width="35" alt=""> Anuncios</h3>
                    <!-- Swiper -->
                    <div class="swiper-container swiper-container-section-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide section-anuncios" *ngFor="let data of anuncios; let i = index">
                                <img [src]="URI+'upload/anuncios/'+data.url_img" (click)="openPopUp($event)">
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>


            <div class="row mb-5 justify-content-center">
                <div class="col-12">
                    <h3 class="titulos"><img class="icon pb-1" src="assets/icons/icon12.png"  width="35" alt=""> Números de utilidad</h3>
                </div>
    
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-1 mb-2" *ngFor="let data of telefonos; let i = index">
                    <div class="numeros-cel">
                        {{data.nombre}}<br>
                        {{data.numero}}
                    </div>
                </div>

    
            </div>


            <div class="row mb-5 justify-content-around ">
                <div class="col-12">
                    <h3 class="titulos"><img class="icon pb-1" src="assets/icons/icon13.png"  width="35" alt=""> Noticias</h3>
                </div>
    
                <div class="row m-0 pb-4 justify-content-around">  
                    <ng-container *ngIf="noticias.length < 4">
                        <div class="h-100 col-lg-4 col-md-4 col-sm-6 col-12 mt-2 mb-2" *ngFor="let data of noticias; let i = index">
                            <a [routerLink]="'/noticias/'+data.id" class="h-100 card-noticia text-decoration-none text-body">
                                <img [src]="URI+'upload/noticias/'+data.url_img" width="100%" alt="">
                                <div class="p-3">
                                    <div class="text-muted font-italic art-fecha">
                                        Publicado el: {{data.fecha}}
                                    </div>
                                    <h5 class="text-limit-h">{{data.titulo}}</h5>
                                    <p class="text-limit-p mt-2">{{data.descripcion}}</p>
                                </div>
                            </a>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="noticias.length >= 4">  
                        <div class="col-lg-3 col-md-5 col-sm-6 col-12 mt-2 mb-2" *ngFor="let data of noticias; let i = index">
                            <a [routerLink]="'/noticias/'+data.id" class="h-100 card-noticia text-decoration-none text-body">
                                <img [src]="URI+'upload/noticias/'+data.url_img" width="100%" alt="">
                                <div class="p-3">
                                    <div class="text-muted font-italic art-fecha">
                                        Publicado el: {{data.fecha}}
                                    </div>
                                    <h5 class="text-limit-h">{{data.titulo}}</h5>
                                    <p class="text-limit-p mt-2">{{data.descripcion}}</p>
                                </div>
                            </a>
                        </div>
                    </ng-container>
                </div>

                
                <!--
                    <div class="col-lg-3 col-md-5 col-sm-6 col-12 mt-2 mb-2">
                        <a href="#" class="card-noticia text-decoration-none text-body">
                            <img src="assets/noticia01.jpg" width="100%" alt="">
                            <div class="p-3">
                                <div class="text-muted font-italic">
                                    25-09-2020
                                </div>
                                <h5 class="text-limit-h">CAMPAÑA DE DESCARTE COVID-19</h5>
                                <p class="text-limit-p mt-3">La Municipalidad Distrital de Orcotuna junto con la Red de Salud Valle del Mantaro y el Centro de Salud de Orcotuna realizó el descarte de COVID-19. La campaña estuvo dirigida al público en general, sobre todo a las personas en estado de vulnerabilidad.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-6 col-12 mt-2 mb-2">
                        <a href="#" class="card-noticia text-decoration-none text-body">
                            <img src="assets/noticia01.jpg" width="100%" alt="">
                            <div class="p-3">
                                <div class="text-muted font-italic">
                                    25-09-2020
                                </div>
                                <h5 class="text-limit-h">CAMPAÑA DE DESCARTE COVID-19</h5>
                                <p class="text-limit-p mt-3">La Municipalidad Distrital de Orcotuna junto con la Red de Salud Valle del Mantaro y el Centro de Salud de Orcotuna realizó el descarte de COVID-19. La campaña estuvo dirigida al público en general, sobre todo a las personas en estado de vulnerabilidad.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-6 col-12 mt-2 mb-2">
                        <a href="#" class="card-noticia text-decoration-none text-body">
                            <img src="assets/noticia01.jpg" width="100%" alt="">
                            <div class="p-3">
                                <div class="text-muted font-italic">
                                    25-09-2020
                                </div>
                                <h5 class="text-limit-h">CAMPAÑA DE DESCARTE COVID-19</h5>
                                <p class="text-limit-p mt-3">La Municipalidad Distrital de Orcotuna junto con la Red de Salud Valle del Mantaro y el Centro de Salud de Orcotuna realizó el descarte de COVID-19. La campaña estuvo dirigida al público en general, sobre todo a las personas en estado de vulnerabilidad.</p>
                            </div>
                        </a>
                    </div>
                -->
    
        
                <div class="col-12">    
                    <a routerLink="/noticias" class="ver-mas">Ver todas las noticias</a>
                </div>

            </div>


        </div>
    </div>

    
</section>