<div class="main-slider">
    <!-- Swiper -->
    <div class="swiper-container swiper-container-main">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../../../assets/slider01.jpg" width="100%">
                <div>
                    <div class="swiper-header container">
                        <h2 class="text-uppercase">Municipalidad de Sicaya Te Cuida y Te Protege</h2>
                        <h5>
                            La gestión regional de Junín cumplió con su compromiso, fuimos el primer distrito que firmó convenio institucional para la dotación de este medicamentos, ahora nos hicieron realidad  la entrega de Ivermectina, lo cual sera distribuida adecuadamente a nuestra población de acuerdo a  un informe médico. 
                        </h5>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"><img src="../../../assets/slider02.jpg" width="100%">
                <div>
                    <div class="swiper-header container">
                        <h2 class="text-uppercase">Municipalidad de Sicaya Trabajando Para Ti</h2>
                        <h5>
                            Con una inversión de más de 5 millones 300 mil soles, iniciamos la obra de mejoramiento vial y tratamiento paisajístico de los accesos a a nuestro distrito de Sicaya, una obra que le dará la hermosura y el  esplendor que se merece Sicaya, un distrito histórico y pujante. 
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>


<app-web-section></app-web-section>


<!--
<app-web-popup></app-web-popup>
-->