footer{
    
}

.footer-top{
    /*border-top: 6px solid rgb(202, 202, 202);*/
    box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.9);
    padding: 22px 1px;
    padding-bottom: 8px;
    background: url(../../../assets/web/bg-footer.png) no-repeat;
    background-size: cover;
    background-position: center top;
    color: white !important;
}

.footer-bottom{
    position: relative;
    color: white;
    background: rgba(0, 0, 0, 1);
    padding: 7px 5px;
    font-size: 0.9em;
}


.footer-top h5{
    font-size: 1.1em;
    font-weight: 700;
}
.footer-top-links a{
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}
.footer-top-links a:hover{
    color: white;
    text-decoration: underline;
}

.footer-top-links p{
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}

.footer-copy-1{
    text-align: right;
}
.footer-copy-2{
    border-left: 2px solid white;
    text-align: left;
}


@media (max-width: 576px){
    .footer-copy-1{
        text-align: center;
    }
    .footer-copy-2{
        border-left: none !important;
        text-align: center;
    }
}


@media (max-width: 500px){
    .footer-link-medio{
        text-align: center;
    }
}