
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mb-2">
                    <a style="text-decoration: none;" href="#" class="text-white"><h5><i class="fas fa-book"></i> Libro de reclamaciones</h5></a>
                    <br>
                    <h5 class="font-weight-bold">Quejas y sugerencias</h5>
                    <p class="text-white">
                       {{general.correo}}
                    </p>
                </div>
                <div class="col-md-7 mb-2">
                    <div class="row">
                        <div class="col-sm-4 col-4 mb-2 footer-top-links">
                            <h5>Municipalidad</h5>
                            <a routerLink="/municipalidad">Alcalde</a><br>
                            <a routerLink="/resoluciones">Resoluciones</a><br>
                            <a routerLink="/convocatorias">Convocatorias</a><br>
                            <a routerLink="/gestion">Instrumentos de gestión</a><br>
                            <a href="https://www.transparencia.gob.pe/enlaces/pte_transparencia_enlaces.aspx?id_entidad=11121#.X5Z5eIhKiUk" target="_blank">Transparencia</a><br>
                        </div>
                        <div class="col-sm-4 col-4 mb-2 footer-top-links footer-link-medio">
                            <h5>Enlaces Externos</h5>
                            <a href="https://www.reniec.gob.pe/" target="_blank">Reniec</a><br>
                            <a href="http://www.sunat.gob.pe/" target="_blank">Sunat</a><br>
                            <a href="https://www.gob.pe/sunarp" target="_blank">Sunarp</a><br>
                            <a href="https://www.indecopi.gob.pe/indecopi" target="_blank">Indecopi</a><br>
                            <a href="https://www.gob.pe/indeci" target="_blank">Indeci</a><br>
                        </div>
                        <div class="col-sm-4 col-4 footer-top-links">
                            <h5>Teléfonos</h5>
                            <p>
                                <b><i class="fas fa-phone-volume"></i> Central telefonica</b>
                                <br>
                                {{general.telefono}}
                            </p>
                            <!--
                            <p>
                                <b><i class="fas fa-shield-alt"></i> {{general.telefono_lb1}}</b>
                                <br>    
                                {{general.telefono_1}}
                            </p>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pb-md-0 pb-sm-2 pb-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6 footer-copy-1">
                    © 2021 Todos los derechos reservados
                </div>
                <div class="col-sm-6 footer-copy-2">
                    Orcotuna - Concepción - Junín
                </div>
            </div>
        </div>

        <div class="position-absolute" style="right: 5px; bottom: 0px; font-size: 0.8em;">
            Desarrollado por: <a href="https://www.linkedin.com/in/antony-eduardo-arias-de-la-cruz-81b31911a/" target="_blank">Antony ADLC</a>
        </div>

    </div>     
</footer>