
<aside>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pr-5 mb-5">
                <h3 class="titulos">
                    Enlaces de interés
                </h3>
                <div class="row mt-3 pl-3 pr-3">
                    
                    <div class="col-sm-6 pl-0 pr-0">
                        <a class="aside-enlaces" href="#">
                            <p class="mb-0"><i class="fas fa-bullhorn"></i> Convocatoria Laboral CAS</p>
                        </a>
                        <a class="aside-enlaces" href="#">
                            <p class="mb-0"><i class="fas fa-balance-scale"></i> Tributos municipales</p>
                        </a>
                        <a class="aside-enlaces" href="#">
                            <p class="mb-0"><i class="fas fa-laptop"></i> Consultas en línea</p>
                        </a>
                        <a class="aside-enlaces" href="#">
                            <p class="mb-0"><i class="fas fa-users"></i> Registro civil</p>
                        </a>
                        <a class="aside-enlaces" href="#">
                            <p class="mb-0"><i class="fas fa-book"></i> Normas institucionales</p>
                        </a>
                    </div>
                    <div class="col-sm-6 pl-0 pr-0">
                        <a class="aside-enlaces" href="#">
                            <p class="mb-0"><i class="fas fa-sign-language"></i> Programa de vaso de leche (SISFO)</p>
                        </a>
                        <a class="aside-enlaces" href="#">
                            <p class="mb-0"><i class="fas fa-route"></i> Turismo y aventura</p>
                        </a>
                        <a class="aside-enlaces" href="#">
                            <p class="mb-0"><i class="fas fa-truck-pickup"></i> Gerencia de obras</p>
                        </a>
                        <a class="aside-enlaces" href="#">
                            <p class="mb-0"><i class="fab fa-audible"></i> Control Previo</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <h3 class="titulos">
                    Normas Institucionales
                </h3>
                <br>
                <form class="form-normas">
                    <div class="form-group row mb-2">
                        <label for="inputEmail3" class="col-sm-3 col-form-label pr-1">TIPO:</label>
                        <div class="col-sm-9 pl-3">
                            <select class="form-control" id="inputEmail3" placeholder="Tipo de norma">
                                <option disabled selected>---</option>
                                <option val="">Option 1</option>
                                <option val="">Option 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">AÑO:</label>
                        <div class="col-sm-9 pl-3">
                            <select class="form-control" id="inputEmail3" placeholder="Año de emisión">
                                <option disabled selected>---</option>
                                <option val="">2020</option>
                                <option val="">2019</option>
                                <option val="">2018</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">MES:</label>
                        <div class="col-sm-9 pl-3">
                            <select class="form-control" id="inputEmail3" placeholder="Filtro por mes">
                                <option disabled selected>---</option>
                                <option val="">Enero</option>
                                <option val="">Febrero</option>
                                <option val="">Marzo</option>
                                <option val="">Abril</option>
                                <option val="">Mayo</option>
                                <option val="">Junio</option>
                                <option val="">Julio</option>
                                <option val="">Agosto</option>
                                <option val="">Septiembre</option>
                                <option val="">Octubre</option>
                                <option val="">Noviembre</option>
                                <option val="">Diciembre</option>
                            </select>   
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">REFERENCIA:</label>
                        <div class="col-sm-9 pl-3">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Palabras claves">
                        </div>
                    </div>
                    <a class="btn btn-primary" href="#" role="button">Buscar <i class="fas fa-search"></i></a>
                </form>
            </div>
        </div>
    </div>
</aside>