
<div class="container-fluid inicio">
    <div class="container">

        <div class="row" style="position: relative;">
            <div class="col-12 bg-normas-img">

            </div>
            <div class="col-12 bg-normas-title">
                <h3><i class="fas fa-laptop-house"></i> Servicios en Línea</h3>
            </div>
        </div>

        <br>

        <div class="row mt-2">
            <div class="col-md-4 mb-5">
                <div class="menu-navegacion">
                    <div class="menu-navegacion-titulo text-uppercase">Menu de opciones</div>
                    <a routerLink="/servicios" class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Mesa de partes</a>
                    <a routerLink="/servicios/expediente" class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Consulta de expediente</a>
                </div>
            </div>
            <div class="col-md-8 mb-3 servicios">

                <div class="row">
                    <div class="col-12 servicios-bg-1">
                        <img src="../../../assets/logo.png" width="120">
                    </div>
                    <div class="col-12 servicios-bg-2 text-center text-white">
                        <i class="fas fa-6x fa-search"></i>
                        <h5 class="text-uppercase mt-3 mb-0 text-white">Consulta el estado de tu expediente</h5>
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-uppercase mt-3 mb-3 text-center">PROCEDIMIENTO</h5>
                            <p>
                                Si presento algun documento por la mesa de partes virtual, puede conocer el estado del mismo colocando el número de expediente de su tramite a continuación.
                            </p>
    
                            <form #modalForm="ngForm" enctype="multipart/form-data" (submit)="consultar(modalForm)" novalidate="">
                                <div class="form-row justify-content-center">

                                    <div class="col-sm-4 mt-3 text-center">
                                        <i class="fas fa-3x fa-user-lock"></i>
                                    </div>

                                    <div class="form-group col-md-5 text-center">
                                        <label>Número de expediente</label>
                                        <input type="text" class="form-control" [(ngModel)]="expediente.codigo" name="nro" #nro="ngModel">
                                    </div>


                                    <div class="w-100"></div>

                                    <div class="form-group col-md-4 mt-2 text-center">
                                        <button type="submit" class="form-control btn-primary">Consultar</button>
                                    </div>
                                  
                                </div>
                            </form>

                            <ng-container *ngIf="!loading && resultado.id">
                                <hr>
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered text-center">
                                        <thead class="thead-dark">
                                          <tr>
                                            <th scope="col">Solicitante</th>
                                            <th scope="col">Asunto</th>
                                            <th scope="col">Dirigido a</th>
                                            <th scope="col">Estado</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">{{resultado.solicitante}}</th>
                                            <td>{{resultado.asunto}}</td>
                                            <td>{{resultado.destinatario}}</td>
                                            <td *ngIf="resultado.estado==0"><span class="badge badge-pill badge-secondary">Presentado</span></td>
                                            <td *ngIf="resultado.estado==1"><span class="badge badge-pill badge-success">Atendido</span></td>
                                            <td *ngIf="resultado.estado==2"><span class="badge badge-pill badge-danger">Rechazado</span></td>
                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!loading && resultado.length == 0">
                                <hr>
                                <div class="alert alert-warning" role="alert">
                                    No se encontraron resultados!
                                </div>
                            </ng-container>
                            <ng-container *ngIf="loading">
                                <hr>
                                <div class="d-flex justify-content-center mb-3">
                                    <div class="spinner-border" role="status">
                                      <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                </div>
                
               
            </div>
        </div>

    </div>
    <br>
</div>
