
<div class="container-fluid inicio">
    <div class="container">
        <br>
        <div class="row">
            
            <div class="col-12">
                <br>
                <div class="alert alert-secondary" style="float: left; width: 100%;" role="alert">
                   <div style="float: left; padding: 2px 8px;">
                        <h3 style="display: inline;"><i class="fas fa-2x fa-newspaper"></i></h3>
                   </div>
                   <div style="float: left; padding: 2px 8px;">
                        <h3 class="mb-1">Noticias (51)</h3>
                        <p class="mb-0">Directorio de noticias</p>
                    </div>
                </div>
                <br>
            </div>

            <div class="w-100 mt-2"></div>

            <div class="col-12">
                <ul class="list-unstyled">
                    <a routerLink="/noticias/id" class="media mb-3">
                      <img src="../../../assets/web/noticia-item.png" width="80" class="mr-3" alt="...">
                      <div class="media-body">
                        <span class="text-muted" style="font-size: 0.8em;">12/05/20</span>
                        <h5 class="mt-0 mb-1 text-uppercase">List-based media object</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                      </div>
                    </a>
                    <a routerLink="/noticias/id" class="media mb-3">
                        <img src="../../../assets/web/noticia-item.png" width="80" class="mr-3" alt="...">
                        <div class="media-body">
                          <span class="text-muted" style="font-size: 0.8em;">12/05/20</span>
                          <h5 class="mt-0 mb-1 text-uppercase">List-based media object</h5>
                          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </a>
                    <a routerLink="/noticias/id" class="media mb-3">
                        <img src="../../../assets/web/noticia-item.png" width="80" class="mr-3" alt="...">
                        <div class="media-body">
                          <span class="text-muted" style="font-size: 0.8em;">12/05/20</span>
                          <h5 class="mt-0 mb-1 text-uppercase">List-based media object</h5>
                          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </a>
                </ul>
            </div>

        </div>
    </div>
    <br>
</div>