
<header>
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-6">
                    <i class="far fa-calendar-alt"></i> Jueves 23 de Julio
                </div>
                <div class="col-6 text-right">
                    <i class="fab fa-facebook-square"></i> &nbsp; <i class="fas fa-envelope"></i> &nbsp;|&nbsp; Contáctanos
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-6 text-left">
                    <a routerLink="/"><img class="header-main-logo-1" src="../../../assets/logo_shadow.png" width="300"></a>
                </div>
                <div class="col-6 text-right">
                    <a routerLink="/transparencia"><img class="header-main-logo-2" src="../../../assets/portal-transparencia.png" width="190"></a>
                </div>
            </div>
        </div>
    </div>
</header>