
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mb-3">
                    <a style="text-decoration: none;" href="#"><h5 class="libro"><i class="fas fa-book"></i> Libro de reclamaciones</h5></a>
                    <br>
                    <h5>Quejas y sugerencias</h5>
                    <p class="quejas">
                        municipalidadanco@munianco.gob.pe
                    </p>
                </div>
                <div class="col-md-7 mb-3">
                    <div class="row">
                        <div class="col-sm-4 col-4 mb-4 footer-top-links">
                            <h5>Municipalidad</h5>
                            <a routerLink="/municipalidad/alcalde">Alcalde</a><br>
                            <a routerLink="/municipalidad/organizacion">Organización</a><br>
                            <a routerLink="/convocatorias">Convocatorias</a><br>
                            <a routerLink="/gestion">Instrumentos de gestión</a><br>
                            <a routerLink="/transparencia">Transparencia</a><br>
                        </div>
                        <div class="col-sm-4 col-4 mb-4 footer-top-links footer-link-medio">
                            <h5>Enlaces Externos</h5>
                            <a target="_blank" href="https://www.reniec.gob.pe/">Reniec</a><br>
                            <a target="_blank" href="http://www.sunat.gob.pe/">Sunat</a><br>
                            <a target="_blank" href="https://www.sunarp.gob.pe/">Sunarp</a><br>
                            <a target="_blank" href="https://www.indecopi.gob.pe/">Indecopi</a><br>
                            <a target="_blank" href="https://www.indeci.gob.pe/">Indeci</a><br>
                        </div>
                        <div class="col-sm-4 col-4 footer-top-links">
                            <h5>Teléfonos</h5>
                            <p>
                                <b><i class="fas fa-phone-volume"></i> Central telefonica</b>
                                <br>
                                951702963
                            </p>
                            <p>
                                <b><i class="fas fa-shield-alt"></i> Central policial</b>
                                <br>    
                                105/6546544
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 footer-copy-1">
                    © 2020 Todos los derechos reservados
                </div>
                <div class="col-sm-6 footer-copy-2">
                    <i class="fas fa-map-marker-alt"></i> Plaza Principal Anco N° S/N - ANCO - HUANCAVELICA
                </div>
            </div>
        </div>
    </div>     
</footer>