
<header>

    <div class="header-bottom">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-3 text-left">
                    <a routerLink="/"><img class="header-main-logo-1" src="../../../assets/logo_shadow.png" width="95%" style="max-width: 260px;"></a>
                </div>
                <div class="col-lg-9 text-right">
                    <div class="contact-header">
                        <i class="fab fa-facebook-square"></i> &nbsp; <i class="fas fa-envelope"></i> &nbsp;|&nbsp; Contáctanos
                    </div>
                    <app-web-nav></app-web-nav>
                </div>
            </div>
        </div>
    </div>
</header>