
<div class="container-fluid inicio">
    <div class="container">

        <div class="row" style="position: relative;">
            <div class="col-12 bg-normas-img">

            </div>
            <div class="col-12 bg-normas-title">
                <h3><i class="fas fa-laptop-house"></i> Servicios en Línea</h3>
            </div>
        </div>

        <br>

        <div class="row mt-2">
            <div class="col-md-4 mb-5">
                <div class="menu-navegacion">
                    <div class="menu-navegacion-titulo text-uppercase">Menu de opciones</div>
                    <a href="#" class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Mesa de partes</a>
                    <a href="#" class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Consulta de expediente</a>
                </div>
            </div>
            <div class="col-md-8 mb-3 servicios">

                <div class="row">
                    <div class="col-12 servicios-bg-1">
                        <img src="../../../assets/logo.png" width="120">
                    </div>
                    <div class="col-12 servicios-bg-2 text-center text-white">
                        <i class="fas fa-6x fa-desktop"></i>
                        <h5 class="text-uppercase mt-3 mb-0 text-white">Mesa de partes virtual</h5>
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-uppercase mt-3 mb-3 text-center">PROCEDIMIENTO</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis harum aliquid eius eligendi ad ipsa quo debitis corporis repellat consectetur. Obcaecati blanditiis vitae labore dolorum. Harum reprehenderit similique obcaecati sint.
                            </p>
    
                            <form>
                                <div class="form-row justify-content-center">
                                    <div class="form-group col-md-6 text-center">
                                        <label for="inputEmail4">Numero de documento de Identidad</label>
                                        <input type="email" class="form-control" id="inputEmail4">
                                    </div>

                                    <div class="w-100"></div>

                                    <div class="form-group col-md-6 text-center">
                                        <label for="inputEmail4">Numero de documento de Identidad</label>
                                        <input type="email" class="form-control" id="inputEmail4">
                                    </div>

                                    <!--
                                    <div class="w-100"></div>
                                    <div class="form-group col-md-6 text-center">
                                        <input type="file" multiple>
                                    </div>
                                    -->

                                    <div class="w-100"></div>

                                    
                                    <div class="form-group col-md-12 mt-2">
                                        <div class="panel panel-default">

                                            <div class="panel-body">

                                                <!-- Standar Form -->
                                                <h5>Seleccionar archivos</h5>
                                                <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                                                    <div class="form-inline">
                                                        <div class="form-group">
                                                            <input type="file" name="files[]" id="js-upload-files" multiple>
                                                        </div>
                                                        <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                                                    </div>
                                                </form>

                                                <br>
                                                <!-- Drop Zone -->
                                                <h5>Arrasta tus archivos aqui</h5>
                                                <div class="upload-drop-zone" id="drop-zone">
                                                    Just drag and drop files here
                                                </div>

                                                <!-- Progress Bar -->
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>

                                                <!-- Upload Finished -->
                                                <div class="js-upload-finished">
                                                    <h5>Progreso de la subida de archivos</h5>
                                                    <div class="list-group">
                                                        <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
                                                        <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div> <!-- /container -->


                                    <div class="w-100"></div>

                                    <div class="form-group col-md-4 text-center">
                                        <input type="submit" class="form-control btn-primary" value="Enviar">
                                    </div>
                                  
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
                
               
            </div>
        </div>

    </div>
    <br>
</div>