<div class="container-fluid inicio">
    <div class="container">

        <div class="row" style="position: relative;">
            <div class="col-12 bg-normas-img">

            </div>
            <div class="col-12 bg-normas-title">
                <h3><i class="fas fa-book"></i> San Ramón</h3>
                <br>
                <p>Puerta de oro de la Selva Central</p>
            </div>
        </div>

        <br>

        <div class="row mt-2">
            <div class="col-md-4 mb-5">
                <div class="menu-navegacion">
                    <div class="menu-navegacion-titulo text-uppercase">Menu de opciones</div>
                    <a href="#" class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Alcalde</a>
                    <a href="#" class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Regidores</a>
                    <a href="#" class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Misión y visión</a>
                    <a href="#" class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Organigrama Municipal</a>
                    <a href="#" class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; asfjassad</a>
                </div>
            </div>
            <div class="col-md-8 mb-3 text-center municipalidad">
                <h4 class="text-center text-uppercase">Dubal Olano Dante Romero</h4>
                <br>
                <img src="../../../assets/alcalde.jpg" width="400">
                <br>
                <br>
                <h5><i class="fas fa-landmark"></i> Alcalde Distrital de San Ramón</h5>
                <h5><i class="far fa-calendar-alt"></i> 2019 - 2022</h5>
            </div>
        </div>

    </div>
    <br>
</div>