<app-web-nav></app-web-nav>

<div class="container-fluid inicio">
    <div class="container">

        <div class="row" style="position: relative;">
            <div class="col-12 bg-normas-img">
            </div>
            <div class="col-12 bg-normas-title">
                <h3><i class="fas fa-map-marked-alt"></i> Turismo</h3>
            </div>
        </div>

        <br>

        <div class="row justify-content-center mt-2">
            <div class="col-12 mb-4 mt-2">
                <h3 class="titulos">
                    Nuestros atractivos turísticos:
                </h3>
            </div>
      
            <div class="col-md-6">
                <div class="card" style="width: 100%;">
                    <img src="assets/web/turismo_cerro_jerusalen.jpg" class="card-img-top" height="300" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-center w-100">MIRADOR CERRO JERUSALEM</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 100%;">
                    <img src="assets/web/turismo_santuario.jpg" class="card-img-top" height="300" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-center w-100">SANTUARIO VIRGEN DE COCHARCAS</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 100%;">
                    <img src="assets/web/turismo_monumento.jpg" class="card-img-top" height="300" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-center w-100">ZONA ARQUEOLÓGICA DE SHUTOC</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 100%;">
                    <img src="assets/web/turismo_paraje.jpg" class="card-img-top" height="300" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-center w-100">PARAJE DE PACHA GRANDE</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 100%;">
                    <img src="assets/web/turismo_catarata_shutoc.jpg" class="card-img-top" height="580" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-center w-100">CATARATAS DE SHUTOC</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
</div>