<nav>
    <div class="container menu-desktop">
        <div class="row justify-content-center">
            <a routerLink="/" class="nav-menu col text-center"><span><i class="fas fa-home"></i></span> Inicio</a>
            <a routerLink="/municipalidad" class="nav-menu col text-center"><span><i class="fas fa-landmark"></i></span> Municipalidad</a>
            <a routerLink="/gestion" class="nav-menu col text-center"><span><i class="fas fa-paste"></i></span> Gestión</a>
            <a routerLink="/noticias" class="nav-menu col text-center"><span><i class="far fa-newspaper"></i></span> Noticias</a>
            <a routerLink="/servicios" class="nav-menu col text-center"><span><i class="fas fa-laptop"></i></span> Consultas en Línea</a>
        </div>
    </div>
    <div class="container-fluid menu-mobil">
        <div class="row menu-mobil-main">
            <div class="col-12"><span><i class="fas fa-bars"></i></span> MENÚ</div>
        </div>
        <div class="row menu-mobil-items">
            <a routerLink="/" class="col-12"><span><i class="fas fa-home"></i></span> Inicio</a>
            <a routerLink="/municipalidad" class="col-12"><span><i class="fas fa-landmark"></i></span> Municipalidad</a>
            <a routerLink="/gestion" class="col-12"><span><i class="fas fa-paste"></i></span> Gestión</a>
            <a routerLink="/noticias" class="col-12"><span><i class="far fa-newspaper"></i></span> Noticias</a>
            <a routerLink="/servicios" class="col-12"><span><i class="fas fa-laptop"></i></span> Consultas en Línea</a>
        </div>
    </div>
</nav>