

<div class="container-fluid inicio">
    <div class="container">
        <div class="row" style="position: relative;">
            <div class="col-12 bg-normas-img">

            </div>
            <div class="col-12 bg-normas-title">
                <h3><i class="fas fa-briefcase"></i> Convocatorias</h3>
                <br>
                <p>Trabaja con nosotros...</p>
            </div>
        </div>

        <br>

        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="titulos">Lista de convocatorias</h3>
            </div>

            <div class="w-100"><br></div>

            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Número</th>
                                <th scope="col">Código</th>
                                <th scope="col">Detalle</th>
                                <th scope="col">F.Publicación</th>
                                <th scope="col">Descargar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center" scope="row">1</th>
                                <td class="text-center">ACU_038-2020/MLV</td>
                                <td>Aprobar el convenio específico de cooperación interinstitucional entre la Municipalidad Distrital de La Victoria y el Instituto Nacional de Defensa civil - INDECI, autorizando al señor alcalde su suscripción</td>
                                <td class="text-center">17/02/2020</td>
                                <td class="text-center"><a href="#"><i class="fas fa-2x fa-file-pdf"></i></a></td>
                            </tr>
                            <tr>
                                <th class="text-center" scope="row">1</th>
                                <td class="text-center">ACU_038-2020/MLV</td>
                                <td>Aprobar el convenio específico de cooperación interinstitucional entre la Municipalidad Distrital de La Victoria y el Instituto Nacional de Defensa civil - INDECI, autorizando al señor alcalde su suscripción</td>
                                <td class="text-center">17/02/2020</td>
                                <td class="text-center"><a href="#"><i class="fas fa-2x fa-file-pdf"></i></a></td>
                            </tr>
                            <tr>
                                <th class="text-center" scope="row">1</th>
                                <td class="text-center">ACU_038-2020/MLV</td>
                                <td>Aprobar el convenio específico de cooperación interinstitucional entre la Municipalidad Distrital de La Victoria y el Instituto Nacional de Defensa civil - INDECI, autorizando al señor alcalde su suscripción</td>
                                <td class="text-center">17/02/2020</td>
                                <td class="text-center"><a href="#"><i class="fas fa-2x fa-file-pdf"></i></a></td>
                            </tr>
                            <tr>
                                <th class="text-center" scope="row">1</th>
                                <td class="text-center">ACU_038-2020/MLV</td>
                                <td>Aprobar el convenio específico de cooperación interinstitucional entre la Municipalidad Distrital de La Victoria y el Instituto Nacional de Defensa civil - INDECI, autorizando al señor alcalde su suscripción</td>
                                <td class="text-center">17/02/2020</td>
                                <td class="text-center"><a href="#"><i class="fas fa-2x fa-file-pdf"></i></a></td>
                            </tr>
                            <tr>
                                <th class="text-center" scope="row">1</th>
                                <td class="text-center">ACU_038-2020/MLV</td>
                                <td>Aprobar el convenio específico de cooperación interinstitucional entre la Municipalidad Distrital de La Victoria y el Instituto Nacional de Defensa civil - INDECI, autorizando al señor alcalde su suscripción</td>
                                <td class="text-center">17/02/2020</td>
                                <td class="text-center"><a href="#"><i class="fas fa-2x fa-file-pdf"></i></a></td>
                            </tr>
                     
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <br>
</div>

