<div class="main-slider">
    <!-- Swiper -->
    <div class="swiper-container swiper-container-main">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../../../assets/slider01.jpg" width="100%">
                <div>
                    <div class="swiper-header container">
                        <h2 class="text-uppercase">Municipalidad Distral de Anco</h2>
                        <h5>
                            Comprometidos en apoyar a la poblacion de todos los sectores , trabajamos articuladamente con autoridades comunales, políticas, salud y pnp de Anco.
                            <br>
                            El covid 19 no nos vencera.
                            <br>
                            ¡¡¡ Lucharemos por un Anco mejor !!!
                        </h5>
                    </div>
                </div>
            </div>
           
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>


<app-web-section></app-web-section>


<!--
<app-web-popup></app-web-popup>
-->