.swiper-container{
    overflow: hidden;
}



.swiper-container-main .swiper-slide > div{
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.swiper-header{
    position: relative;
    width: 100%;
    top: 20%;
    padding-right: 18%;
}
.swiper-header > h2{
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 0px 1px 2px black, 0px -1px 2px black, 1px 0px 2px black, -1px 0px 2px black;
    font-style: oblique;
}
.swiper-header > h5{
    margin-top: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    text-shadow: 0px 1px 2px black, 0px -1px 2px black, 1px 0px 2px black, -1px 0px 2px black;
}


@media (max-width: 990px){
    .swiper-header > h2{
        font-weight: 700;
        font-size: 1.5em;
    }
    .swiper-header > h5{
        font-size: 1.1em;
        line-height: 1.2em;
    }
}


@media (max-width: 770px){
    .swiper-header > h2{
        font-weight: 700;
        font-size: 1.5em;
    }
    .swiper-header{
        padding-right: 0px;
    }
    .swiper-header > h5{
        font-size: 1.1em;
        line-height: 1.2em;
    }
}

@media (max-width: 620px){
    .swiper-header{
        padding-right: 0px;
    }

    .swiper-header > h2{
        font-weight: 700;
        font-size: 1.3em;
    }
    .swiper-header > h5{
        font-size: 1em;
        line-height: 1.1em;
    }
}

@media (max-width: 510px){
    .swiper-header{
        padding-right: 0px;
    }

    .swiper-header > h2{
        font-weight: 700;
        font-size: 1.3em;
    }
    .swiper-header > h5{
        display: none;
    }
}