

<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-sm-12 text-center mb-3">
            <h3><span class="badge badge-info">ADMINISTRACIÓN DE LOS USUARIOS</span></h3>
        </div>
        <div class="col-sm-4 col-6">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <a routerLink="/panel" class="btn btn-secondary" style="color:white; cursor:pointer;">
                    <input type="radio" name="options" id="option2" autocomplete="off"><i class="fas fa-lg fa-arrow-alt-circle-left"></i>
                </a>
                <a routerLink="/panel" class="btn btn-secondary active" style="color:white; cursor:pointer;">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked><i class="fas fa-home"></i> Inicio
                </a> 
            </div>
        </div>
        <div class="col-sm-4 col-6">
            <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#modal-add" (click)="resetForm(modalForm)">Registrar <i class="fas fa-user-plus"></i></button>
        </div>
    </div>
</div>

<br>

<div class="container-fluid">
    <div class="row justify-content-end">

        <div class="col-12 mb-1">
            <form class="row" #searchForm="ngForm" (submit)="filtrar(search.value)">
                <div class="col-md-2 col-sm-4 mb-2">
                    <select class="form-control">
                        <option value="NOMBRE" selected>NOMBRE</option>
                    </select>
                </div>
                <div class="col-md-8 col-sm-8 mb-2">
                    <input class="form-control" placeholder="Buscar Usuario" aria-label="Search" #search (keyup)="filtrar(search.value)">
                </div>
                <div class="col-md-2 col-sm-12 mb-2">
                    <button type="submit" class="btn btn-block btn-success"><i class="fas fa-search"></i> Buscar</button>
                </div>
            </form>
        </div>

        <div class="col-12 mb-2">
            <div class="table-responsive">
                <table class="table table-sm table-bordered text-center table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th class="pt-2 pb-2 pl-2 pr-2" scope="col">#</th>
                            <th scope="col">PREVISUALIZACIÓN</th>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">PRIVILEGIOS</th>
                            <th scope="col">ÁREA</th>
                            <th scope="col">ESTADO</th>
                            <th scope="col">OPERACIONES</th>
                        </tr>
                    </thead>
                    <tbody>

                        <ng-container *ngIf="ready">
                            <tr *ngFor="let data of usuarios; let i = index" >
                                <td>{{((pageActive-1)*pageSize)+i+1}}</td>
                                <td><img height="80" [src]=" data.url_img ? URI+'upload/usuarios/'+data.url_img : 'assets/panel/user.png'"></td>
                                <td>{{data.nombre}}</td>
                                <td>{{data.privilegios}}</td>
                                <td>{{data.nombre_area}}</td>
                                <td><span *ngIf="data.estado==1" class="badge badge-pill badge-success pl-2 pr-2">Habilitado</span></td>
                                <td>
                                    <button style="width:140px;" type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#modal-add" (click)='edit(data)'><i class="fas fa-edit"></i> Modificar</button>
                                    <button *ngIf="data.id!=1" style="width:140px;" type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#modal-confirm" (click)='eliminar(data)'><i class="fas fa-times-circle"></i> Eliminar</button>
                                </td>
                            </tr>
                        </ng-container>
        
                        <ng-container *ngIf="!ready">
                            <tr>
                                <td colspan="7" class="pt-4 pb-4">
                                    <div id="load_table" class="w-100">
                                        <div class="text-center">
                                            <div class="spinner-border text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>

                        <ng-container *ngIf="ready && usuarios.length==0">
                            <tr>
                                <td>-</td>
                                <td>No hay datos</td>
                                <td>No hay datos</td>
                                <td>No hay datos</td>
                                <td>No hay datos</td>
                            </tr>
                        </ng-container>
                        

                    </tbody>

                </table>

                

            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                  </li>
                  
                  <li *ngFor="let page of pages" class="page-item" [ngClass]="{'active': pageActive == page.pagina}" #elemPagination><a class="page-link" (click)="listar(page.pagina)" style="cursor:pointer;">{{page.pagina}}</a></li>

                  <li class="page-item disabled">
                    <a class="page-link" href="#">Siguiente</a>
                  </li>
                </ul>
            </nav>

        </div>

    </div>
</div>


    

<!-- MODAL ADD -->
<!-- MODAL ADD -->
<div class="modal fade bd-example-modal-sm" id="modal-add" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">


            <div class="container-fluid modal-body" style="padding:15px;">
                <div class="row justify-content-center"> 
                    <div class="col-md-12">

                                <button type="button" class="btn btn-danger" style="position:absolute;right:13px;padding:6px 15px;" (click)="closeForm(modalForm)"><i class="fas fa-lg fa-times"></i></button>
                                
                                <form #modalForm="ngForm" class="formulario-modal" enctype="multipart/form-data" (submit)="submit(modalForm)" novalidate="">
                                    <h4 *ngIf="!usuario.id" style="margin-bottom:18px;width:80%;">REGISTRAR USUARIO</h4>
                                    <h4 *ngIf="usuario.id" style="margin-bottom:18px;width:80%;">MODIFICAR USUARIO</h4>
                                                                        
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">Datos</a>
                                        </div>
                                    </nav>

                                    <div class="row justify-content-center">   
                                        <div class="tab-content row justify-content-center col-12" id="nav-tabContent">


                                            <div class="col-md-9 col-12 tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                                                <br>
                                                <div class="row justify-content-center">
                                                    <div class="col-12 text-center">
                                                        <div class="modal_foto_imagen" (click)="inputIMG.click()">
                                                            <input type="file" id="input-file-modal" class="d-none" (change)="seleccionFoto($event)" [disabled]="!btn" #inputIMG> 
                                                            <img [src]="photoSelected || 'assets/panel/gallery.png'" width="100%">
                                                        </div> 

                                                    </div>
                                                </div>

                                                <br>
                                               

                                                <div class="form-group row">
                                                    <label for="inputPRIV" class="col-sm-3 col-form-label">Privilegios*</label>
                                                    <div class="col-sm-9">
                                                        <select type="text" class="form-control" placeholder="Privilegios del usuario" [disabled]="!btn" [(ngModel)]="usuario.privilegios" name="privilegios" #privilegios required>
                                                            <option value="" selected disabled>---Seleccionar---</option>
                                                            <option value="ADMINISTRADOR">Administrador</option>
                                                            <option value="USUARIO">Usuario</option>
                                                        </select>
                                                    </div>
                                                </div>



                                                <div class="form-group row">
                                                    <label for="inputNOM" class="col-sm-3 col-form-label">Usuario*</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" [ngClass]="{'is-invalid': i_usuario.invalid && (i_usuario.dirty || i_usuario.touched)}" placeholder="Usuario para ingresar al sistema" [disabled]="!btn" [(ngModel)]="usuario.usuario" name="i_usuario" #i_usuario="ngModel" required>
                                                                    
                                                        <div *ngIf="i_usuario.invalid && (i_usuario.dirty || i_usuario.touched)" class="invalid-feedback">
                                                            <div *ngIf="i_usuario.errors.required">
                                                                Necesitas completar este campo.
                                                            </div>
                                                            <div *ngIf="i_usuario.errors.minlength">
                                                                Name must be at least 4 characters long.
                                                            </div>
                                                            <div *ngIf="i_usuario.errors.forbiddenName">
                                                                Name cannot be Bob.
                                                            </div>
                                                        </div>                             

                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="inputPASS" class="col-sm-3 col-form-label">Contraseña*</label>
                                                    <div class="col-sm-9">
                                                        <input type="password" class="form-control" [ngClass]="{'is-invalid': pass.invalid && (pass.dirty || pass.touched)}" placeholder="Contraseña" [disabled]="!btn" [(ngModel)]="usuario.pass" name="pass" #pass="ngModel" required>
                                                                    
                                                        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="invalid-feedback">
                                                            <div *ngIf="pass.errors.required">
                                                                Necesitas completar este campo.
                                                            </div>
                                                            <div *ngIf="pass.errors.minlength">
                                                                Name must be at least 4 characters long.
                                                            </div>
                                                            <div *ngIf="pass.errors.forbiddenName">
                                                                Name cannot be Bob.
                                                            </div>
                                                        </div>                             

                                                    </div>
                                                </div>



                                                <div class="form-group row">
                                                    <label for="inputNOM" class="col-sm-3 col-form-label">Nombre*</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" [ngClass]="{'is-invalid': nombre.invalid && (nombre.dirty || nombre.touched)}" placeholder="Nombre de la persona" [disabled]="!btn" [(ngModel)]="usuario.nombre" name="nombre" #nombre="ngModel" required>
                                                                    
                                                        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="invalid-feedback">
                                                            <div *ngIf="nombre.errors.required">
                                                                Necesitas completar este campo.
                                                            </div>
                                                            <div *ngIf="nombre.errors.minlength">
                                                                Name must be at least 4 characters long.
                                                            </div>
                                                            <div *ngIf="nombre.errors.forbiddenName">
                                                                Name cannot be Bob.
                                                            </div>
                                                        </div>                             

                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="inputNOM" class="col-sm-3 col-form-label">Correo</label>
                                                    <div class="col-sm-9">
                                                        <input type="email" class="form-control" placeholder="Correo" [disabled]="!btn" [(ngModel)]="usuario.correo" name="correo" #correo>
                                                    </div>
                                                </div>

                                              
                                                <div class="form-group row">
                                                    <label for="inputAREA" class="col-sm-3 col-form-label">Área*</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control" placeholder="Area del usuario" [disabled]="!btn" [(ngModel)]="usuario.area_idarea" name="area_idarea" #area_idarea required>
                                                            <option *ngFor="let data of areas; let i = index" value="{{data.id}}">{{data.nombre}}</option>
                                                        </select>
                                                    </div>
                                                </div>


                                                

                                                <h4 class="m-0 mt-4 mb-2">Accesos: (Web)</h4>
                                                <hr class="mt-1">

                                                <div class="form-group row pl-4 pr-3 mb-4">
                                                    <div class="col-md-6 col-sm-12 custom-control custom-switch ">
                                                        <input type="checkbox" class="custom-control-input" id="customSwitch0" [checked]="usuario.accesos.general" (change)="usuario.accesos.general = general.checked" name="general" #general>
                                                        <label class="custom-control-label font-weight-normal" for="customSwitch0">Administrar Datos Generales</label>
                                                    </div>

                                                    <div class="col-md-6 col-sm-12 custom-control custom-switch ">
                                                        <input type="checkbox" class="custom-control-input" id="customSwitch1" [checked]="usuario.accesos.portadas" (change)="usuario.accesos.portadas = portadas.checked" name="portadas" #portadas>
                                                        <label class="custom-control-label font-weight-normal" for="customSwitch1">Administrar Portadas</label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 custom-control custom-switch " >
                                                        <input type="checkbox" class="custom-control-input" id="customSwitch2" [checked]="usuario.accesos.noticias" (change)="usuario.accesos.noticias = noticias.checked" name="noticias" #noticias>
                                                        <label class="custom-control-label font-weight-normal" for="customSwitch2">Administrar Noticias</label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 custom-control custom-switch " >
                                                        <input type="checkbox" class="custom-control-input" id="customSwitch3" [checked]="usuario.accesos.anuncios" (change)="usuario.accesos.anuncios = anuncios.checked" name="anuncios" #anuncios>
                                                        <label class="custom-control-label font-weight-normal" for="customSwitch3">Administrar Anuncios</label>
                                                    </div>
                                                    
                                                    <div class="col-md-6 col-sm-12 custom-control custom-switch " >
                                                        <input type="checkbox" class="custom-control-input" id="customSwitch4" [checked]="usuario.accesos.resoluciones" (change)="usuario.accesos.resoluciones = resoluciones.checked" name="resoluciones" #resoluciones>
                                                        <label class="custom-control-label font-weight-normal" for="customSwitch4">Administrar Resoluciones</label>
                                                    </div>
                                                    
                                                    <div class="col-md-6 col-sm-12 custom-control custom-switch " >
                                                        <input type="checkbox" class="custom-control-input" id="customSwitch5" [checked]="usuario.accesos.convocatorias" (change)="usuario.accesos.convocatorias = convocatorias.checked" name="convocatorias" #convocatorias>
                                                        <label class="custom-control-label font-weight-normal" for="customSwitch5">Administrar Convocatorias</label>
                                                    </div>
                                                </div>

                                                


                                                

                                            </div>



                                        </div>
                                    </div>

                                                                                         

                                    <div class="w-100" style="height:8px;"></div>
                                    <div class="msg-ajax-result"></div>


                                    <div class="row justify-content-around">
                                        <div class="col-sm-5 col-12 mb-2">
                                            <button *ngIf="btn" type="submit" class="btn btn-block btn-success btn_modals" [disabled]="!modalForm.form.valid"><i class="far fa-lg fa-save"></i> Guardar</button>
                                            <button *ngIf="!btn" type="button" class="btn btn-block btn-success btn_modals" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Cargando</button>
                                        </div>
                                        <div class="col-sm-4 col-12 mb-2 modal-btn-cont d-none">
                                           
                                        </div>
                                        <div class="col-sm-5 col-12 mb-2">
                                            <button type="button" class="btn btn-block btn-warning btn_modals" (click)="closeForm(modalForm)"><i class="fas fa-lg fa-ban"></i> Cancelar</button>
                                        </div>
                                    </div>


                                </form>
                                
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<!-- Modal Confirm-->
<div class="modal fade" id="modal-confirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Confirmar accion</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea eliminar el elemento?
            </div>
            <div class="modal-footer p-1">
                <div class="row w-100">
                    <div class="col-sm-6">
                        <button *ngIf="btn" type="button" class="btn btn-block btn-danger m-1" (click)='eliminar({})'>Si</button>
                        <button *ngIf="!btn" type="button" class="btn btn-block btn-danger m-1" (click)='eliminar({})' disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Cargando</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-block btn-secondary m-1" (click)="closeConfirm()" [disabled]="!btn">No</button>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>