<app-web-nav></app-web-nav>

<div class="container-fluid inicio">
    <div class="container">

        <div class="row" style="position: relative;">
            <div class="col-12 bg-normas-img">

            </div>
            <div class="col-12 bg-normas-title">
                <h3><i class="fas fa-book"></i> Orcotuna</h3>
                <br>
                <p>Juntos una sola fuerza</p>
            </div>
        </div>

        <br>

        <div class="row mt-2">
            <div class="col-lg-3 col-md-4 mb-5">
                <div class="menu-navegacion">
                    <div class="menu-navegacion-titulo text-uppercase">Menu de opciones</div>
                    <a routerLink="/municipalidad" class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Alcalde</a>
                    <a class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Regidores</a>
                    <a routerLink="/municipalidad/funcionarios" class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Funcionarios</a>
                    <a class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Misión y visión</a>
                    <a class="menu-navegacion-items"><i class="fas fa-folder"></i>&nbsp; Organigrama Municipal</a>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 mb-0 text-center municipalidad">
                <h3 class="text-center" style="font-family: inherit;">Funcionarios de la Municipalidad Distrital de Orcotuna</h3>

                <div class="table-responsive mt-3">
                    <table class="table table-bordered table-sm table-striped text-left">
                        <thead class="thead-dark">
                          <tr>
                            <th class="align-middle text-center" scope="col">N°</th>
                            <th class="align-middle text-center" scope="col">Nombre y Apellido</th>
                            <th class="align-middle text-center" scope="col">DNI</th>
                            <th class="align-middle text-center" scope="col">Cargo</th>
                            <th class="align-middle text-center" scope="col">Régimen Laboral</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>MARIO ANTONIO GRANDE BUENO</td>
                            <td>40010970</td>
                            <td>POLÍTICO</td>
                            <td>D.L. 276</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>JORGE MARTíN DEL PINO MOREYRA</td>
                            <td>20039711</td>
                            <td>GERENTE  MUNICIPAL</td>
                            <td>D.L. 276 - confianza</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>FERMÍN PARIONA SOTOMAYOR</td>
                            <td>19972963</td>
                            <td>FISCALIZACIÓN Y CONTROL</td>
                            <td>D.L. 276 - permanente</td>
                          </tr>

                          <tr>
                            <th scope="row">4</th>
                            <td>JAQUELINE BELÉN ZEVALLOS CERMEÑO</td>
                            <td>46262972</td>
                            <td>Gerencia de Gestión Ambiental y Servicios Públicos</td>
                            <td>D.L. 276 - confianza</td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>YANETH ROCÍO CONDORI QUISPE</td>
                            <td>77017093</td>
                            <td>Gerencia Desarrollo Económico y Social</td>
                            <td>D.L. 276 - confianza</td>
                          </tr>
                          <tr>
                            <th scope="row">6</th>
                            <td>SINDY B. IPARRAGUIRRE ALIAGA</td>
                            <td>45521611</td>
                            <td>Gerencia de Infraestructura y Desarrollo Urbano</td>
                            <td>D.L. 276 - confianza</td>
                          </tr>
                          <tr>
                            <th scope="row">7</th>
                            <td>MERY SANTAMARIA  ALANIA</td>
                            <td>19922342</td>
                            <td>Gerente de Rentas y Fiscalización</td>
                            <td>D.L. 276 - permanente</td>
                          </tr>
                          <tr>
                            <th scope="row">8</th>
                            <td>ALEJANDRO CIRILO LEÓNIDAS NÁJERA</td>
                            <td>41664756</td>
                            <td>Técnico Clave Especializado En Materia De Contrataciones Vinculado A La Gestión De Inversiones</td>
                            <td>CAS 1057</td>
                          </tr>
                          <tr>
                            <th scope="row">9</th>
                            <td>JUNIOR IVAN NAVARRO HUAYNALAYA</td>
                            <td>71721432</td>
                            <td>Técnico Clave Especializado En Materia De Inversiones Para Optimizar Gestión De Programas E Inversiones</td>
                            <td>CAS 1057</td>
                          </tr>
                          <tr>
                            <th scope="row">10</th>
                            <td>FLOR DE MARÍA  ACUÑA DELGADO</td>
                            <td>46910949</td>
                            <td>Responsable de Tesorería</td>
                            <td>CAS 1057</td>
                          </tr>
                          <tr>
                            <th scope="row">11</th>
                            <td>DIANA CAROLINA VERÁSTEGUI MARTÍNEZ</td>
                            <td>45491553</td>
                            <td>Jefe De Recursos Humanos</td>
                            <td>CAS 1057</td>
                          </tr>
                          <tr>
                            <th scope="row">12</th>
                            <td>RAIDA GAMARRA PALOMINO</td>
                            <td>40920003</td>
                            <td>Residuos Sólidos Y Áreas Verdes</td>
                            <td>CAS 1057</td>
                          </tr>
                          <tr>
                            <th scope="row">13</th>
                            <td>BEATRIZ MARTHA VERA VILCHEZ</td>
                            <td>20430836</td>
                            <td>Residuos Sólidos Y Áreas Verdes</td>
                            <td>CAS 1057</td>
                          </tr>
                          <tr>
                            <th scope="row">14</th>
                            <td>JOEL HERMES ROJAS CAJA</td>
                            <td>42304434</td>
                            <td>Residuos Sólidos Y Áreas Verdes</td>
                            <td>CAS 1057</td>
                          </tr>
                          <tr>
                            <th scope="row">15</th>
                            <td>EDWIN FRANCISCO NUÑEZ HUAMÁN</td>
                            <td>42122517</td>
                            <td>Serenazgo</td>
                            <td>CAS 1057</td>
                          </tr>
                          <tr>
                            <th scope="row">16</th>
                            <td>MARIELA LAZO DE CRUZ</td>
                            <td>71876071</td>
                            <td>Registro Civil</td>
                            <td>CAS 1057</td>
                          </tr>
                          <tr>
                            <th scope="row">17</th>
                            <td>ALIDA FABIOLA SOTO QUISPE</td>
                            <td>47612109</td>
                            <td>Secretaria</td>
                            <td>CAS 1057</td>
                          </tr>
                          <tr>
                            <th scope="row">18</th>
                            <td>YELTSIN GADY QUISPE VILCAPOMA</td>
                            <td>46477651</td>
                            <td>Ejecutor Coactivo</td>
                            <td>CAS 1057</td>
                          </tr>
                          <tr>
                            <th scope="row">19</th>
                            <td>CARLOS ALFREDO CARRIL  GONZALES</td>
                            <td>72190019</td>
                            <td>Desarrollo Urbano Y Catastro</td>
                            <td>CAS 1057</td>
                          </tr>
                       

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
    <br>
</div>