
.content-wrapper{
    background: url(../../assets/panel/index.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}