<app-web-nav></app-web-nav>

<div class="container-fluid inicio">
    <div class="container">

        <div class="row" style="position: relative;">
            <div class="col-12 bg-normas-img">
            </div>
            <div class="col-12 bg-normas-title">
                <h3><i class="fas fa-book"></i> Historia</h3>
            </div>
        </div>

        <br>

        <div class="row mt-2">
           <div class="col-12 mb-3">
                <h4 class="text-center">ORIGEN DE LA PALABRA ORCOTUNA</h4>
                <p>Orcotuna proviene de dos vocablos quechuas: Orco = Cerro o Rincón y Tuna = Cactácea de frutos comestibles; es decir rincón o cerro donde abundan tunas. Se ubica en el centro del valle, en la margen derecha del río Mantaro.</p>
           </div>

           <div class="col-lg-6 mb-2">
                <h5>FECHA DE CREACIÓN</h5>
                <p>Fué creada como distrito el 2 de enero 1857.</p>

                <h5>GEOGRAFÍA</h5>
                <p class="text-justify">Se ubica en el centro del valle, en la margen derecha del río Mantaro, tiene una extensión territorial de 44.75 km2, tiene tres barrios: Huando, Tunan y San Antonio, cada barrio tiene una capilla: Tunan la capilla de Santa Bárbara, Huando la capilla de Cocharcas y San Antonio la capilla de San Marcos. Al lado oeste se encuentran los cerros de Santa Inés, bella colina donde queda el último relicto del Huaranguay (Tecoma sambucifolia), planta de flores amarillas. Transversalmente cortan la ciudad dos riachuelos: el Shutuc (abastecedor de agua) y el Achac.</p>
           </div>
           <div class="col-lg-6 text-center mb-2 pl-3 pr-3">
               <img  class="mt-2 mb-2" src="assets/web/orcotuna.jpg" alt="" width="95%" style="border-radius: 10px; box-shadow: 1px 0px 8px black;">
           </div>
        </div>

    </div>
    <br>
</div>