
<section>
    <div class="nav-section">
        <div class="container">       
            <!-- Swiper -->
            <div class="swiper-container swiper-container-nav-section">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href="#" class="section-menu"><span><i class="fas fa-2x fa-laptop"></i><p>Consultas en línea</p></span></a></div>
                    <div class="swiper-slide"><a href="#" class="section-menu"><span><i class="far fa-2x fa-copy"></i><p>TUPA</p></span></a></div>
                    <div class="swiper-slide"><a href="#" class="section-menu"><span><i class="fas fa-2x fa-bullhorn"></i><p>Convocatorias</p></span></a></div>
                    <div class="swiper-slide"><a href="#" class="section-menu"><span><i class="fas fa-2x fa-book"></i><p>Normas Instirucionales</p></span></a></div>
                    <div class="swiper-slide"><a href="#" class="section-menu"><span><i class="far fa-2x fa-handshake"></i><p>Tramites</p></span></a></div>
                    <div class="swiper-slide"><a href="#" class="section-menu"><span><i class="fas fa-2x fa-balance-scale"></i><p>Tributos</p></span></a></div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>  
    </div>
    <br>
    <br>
    <div class="contenido-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7 mb-4">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="titulos">Noticias</h3>
                            <!-- Swiper -->
                            <div class="swiper-container swiper-container-section-1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="section-noticias">
                                            <img src="../../../assets/noticia01.jpg" width="100%">
                                            <div>
                                                <span>Noticias</span>
                                                <h5 class="text-uppercase">Personal de defensa civil inspeccionó el incendio forestal de pastos naturales en el territorio distrital.</h5>
                                                <a class="btn btn-info" href="#" role="button">Ver más...</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="section-noticias">
                                            <img src="../../../assets/noticia01.jpg" width="100%">
                                            <div>
                                                <span>Noticias</span>
                                                <h5 class="text-uppercase">Personal de defensa civil inspeccionó el incendio forestal de pastos naturales en el territorio distrital.</h5>
                                                <a class="btn btn-info" href="#" role="button">Ver más...</a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="w-100"><br></div>
                        <div class="col-12">
                            <h3 class="titulos">Anuncios</h3>
                            <!-- Swiper -->
                            <div class="swiper-container swiper-container-section-2">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide section-anuncios"><img src="../../../assets/anuncio01.jpg" ></div>
                                    <div class="swiper-slide section-anuncios"><img src="../../../assets/anuncio02.jpg" ></div>
                                    <div class="swiper-slide section-anuncios"><img src="../../../assets/anuncio03.jpg" ></div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                    

                </div>
                <div class="col-md-5 mb-4">
                    <h3 class="titulos">Redes Sociales</h3>

                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMunicipalidad-Distrital-de-Yanacancha-809313866079178%2F%3Fref%3Dpage_internal&tabs=timeline&width=410&height=890&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="890" style="border:none;overflow:hidden; display:block; position:relative; left: 1px;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>


                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="contenido-alcalde">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="titulos">
                        Alcalde
                    </h3>
                    <br>
                </div>
                <div class="col-sm-4 mb-4 alcalde-img">
                    <img src="../../../assets/alcalde.jpg" width="100%">
                </div>
                <div class="col-sm-8 mb-4 alcalde-des">
                    <div class="alert alert-dark" role="alert">
                        <span></span>
                        <div class="text-center">
                            <p class="mt-2 pt-1 text-uppercase">Cruger Miranda Rosales</p>
                            Gestión Edil <br>(2019 – 2022)<br>
                            Trabajando con fe y humildad
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>