
<section>

    <div class="nav-section">
        <div class="container" style="border-top: 3px solid rgb(241, 129, 1);">
            <div class="row mt-3">
                <div class="col-6 pl-1 pr-1 pt-1" style="position: relative;">
                    <a href="#" class="nav-sec-a">
                        <img src="../../../assets/web/nav-sec-01.png" width="100%">
                    </a>
                </div>
                <div class="col-3 pl-1 pr-1 pt-1" style="position: relative;">
                    <a href="#" class="nav-sec-a">
                        <img src="../../../assets/web/nav-sec-02.png" width="100%">
                    </a>
                </div>
                <div class="col-3 pl-1 pr-1 pt-1" style="position: relative;">
                    <a href="#" class="nav-sec-a">
                        <img src="../../../assets/web/nav-sec-03.png" width="100%">
                    </a>
                </div>

                <div class="col-4 pl-1 pr-1 pt-1" style="position: relative;">
                    <a href="#" class="nav-sec-a">
                        <img src="../../../assets/web/nav-sec-04.png" width="100%">
                    </a>
                </div>
                <div class="col-4 pl-1 pr-1 pt-1" style="position: relative;">
                    <a href="#" class="nav-sec-a">
                        <img src="../../../assets/web/nav-sec-05.png" width="100%">
                    </a>
                </div>
                <div class="col-4 pl-1 pr-1 pt-1" style="position: relative;">
                    <a href="#" class="nav-sec-a">
                        <img src="../../../assets/web/nav-sec-06.png" width="100%">
                    </a>
                </div>
            </div>
        </div> 
    </div>

    <br>
    <br>

    <div class="contenido-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7 mb-4">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="titulos">Noticias</h3>
                            <!-- Swiper -->
                            <div class="swiper-container swiper-container-section-1">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">
                                        <div class="section-noticias">
                                            <img src="../../../assets/noticia01.jpg" width="100%">
                                            <div>
                                                <span>Noticias</span>
                                                <h5 class="text-uppercase">El alcalde de la municipalidad distrital de Anco Sr. Escolastico Pucllas Yance y el congresista Sr. Freddy llaulli Romero sostuvieron una reunión para la gestión del proyecto</h5>
                                                <a class="btn btn-info" href="#" role="button">Ver más...</a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    

                </div>
                <div class="col-md-5 mb-4">
                    <h3 class="titulos">Anuncios</h3>

                     <!-- Swiper -->
                     <div class="swiper-container swiper-container-section-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide section-anuncios"><img src="../../../assets/anuncio01.jpg" ></div>
                            <div class="swiper-slide section-anuncios"><img src="../../../assets/anuncio02.jpg" ></div>
                            
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="contenido-alcalde">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="titulos">
                        Autoridades
                    </h3>
                    <br>
                </div>
                <div class="col-sm-4 mb-4 alcalde-img">
                    <img src="../../../assets/alcalde.jpg" width="100%">
                </div>
                <div class="col-sm-8 mb-4 alcalde-des">
                    <div class="alert alert-dark" role="alert">
                        <span></span>
                        <div class="text-center">
                            <p class="mb-1">ALCALDE</p>
                            <p class="mt-1 pt-1 text-uppercase">"Escolastico Pucllas Yance"</p>
                            Gestion Edil 2019 - 2022
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="nav-section">
        <div class="container">       
            <!-- Swiper -->
            <div class="swiper-container swiper-container-nav-section">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href="#" class="section-menu"><img src="../../../assets/web/inei.png" width="100%"></a></div>
                    <div class="swiper-slide"><a href="#" class="section-menu"><img src="../../../assets/web/indecopi.png" width="100%"></a></div>
                    <div class="swiper-slide"><a href="#" class="section-menu"><img src="../../../assets/web/reniec.jpg" width="100%"></a></div>
                    <div class="swiper-slide"><a href="#" class="section-menu"><img src="../../../assets/web/sunat.jpg" width="100%"></a></div>
                    <div class="swiper-slide"><a href="#" class="section-menu"><img src="../../../assets/web/el_peruano.jpg" width="100%"></a></div>
                    <div class="swiper-slide"><a href="#" class="section-menu"><img src="../../../assets/web/portal_estado_peruano.png" width="100%"></a></div>
                    <div class="swiper-slide"><a href="#" class="section-menu"><img src="../../../assets/web/osce.png" width="100%"></a></div>
                    <div class="swiper-slide"><a href="#" class="section-menu"><img src="../../../assets/web/contraloria.png" width="100%"></a></div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div> 
    </div>

    <br>
    
</section>