

.footer-top{
    border-top: 6px solid rgb(202, 202, 202);
    background: rgb(0, 94, 235);
    color: white;
    padding: 32px 1px;
    padding-bottom: 8px;
}

.footer-bottom{
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 4px 2px;
    font-size: 0.9em;
}




.footer-top h5{
    font-size: 1.1em;
    text-shadow: 0px 1px 1px black, 0px -1px 1px black, -1px 0px 1px black, 1px 0px 1px black;
}
.footer-top p{
    color: white;
}

.quejas h5{
    text-shadow: none;
    color: rgb(253, 207, 0);
    font-weight: 800;
}

.footer-top-links a{
    text-decoration: none;
    font-size: 0.9em;
    color: white;
}
.footer-top-links a:hover{
    color: black;
}

.footer-top-links p{
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}

.footer-copy-1{
    text-align: left;
}
.footer-copy-2{
    text-align: right;
}


@media (max-width: 576px){
    .footer-copy-1{
        text-align: center;
    }
    .footer-copy-2{
        text-align: center;
    }
}


@media (max-width: 500px){
    .footer-link-medio{
        text-align: center;
    }
}