
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mb-3">
                    <a class="quejas" style="text-decoration: none;" href="#"><h5><i class="fas fa-book"></i> Libro de reclamaciones</h5></a>
                    <br>
                    <h5>Quejas y sugerencias</h5>
                    <p>
                        muniyanacancha@muniyanacancha.gob.pe
                    </p>
                </div>
                <div class="col-md-7 mb-3">
                    <div class="row">
                        <div class="col-sm-4 col-4 mb-4 footer-top-links">
                            <h5>Municipalidad</h5>
                            <a href="#">Alcalde</a><br>
                            <a href="#">Organización</a><br>
                            <a href="#">Convocatorias</a><br>
                            <a href="#">Instrumentos de gestión</a><br>
                            <a href="#">Transparencia</a><br>
                        </div>
                        <div class="col-sm-4 col-4 mb-4 footer-top-links footer-link-medio">
                            <h5>Enlaces Externos</h5>
                            <a href="#">Reniec</a><br>
                            <a href="#">Sunat</a><br>
                            <a href="#">Sunarp</a><br>
                            <a href="#">Indecopi</a><br>
                            <a href="#">Indeci</a><br>
                        </div>
                        <div class="col-sm-4 col-4 footer-top-links">
                            <h5>Teléfonos</h5>
                            <p>
                                <b><i class="fas fa-phone-volume"></i> Central telefonica</b>
                                <br>
                                324324234 / 213232
                            </p>
                            <p>
                                <b><i class="fas fa-shield-alt"></i> Central policial</b>
                                <br>    
                                105/6546544
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 footer-copy-1">
                    © 2020 Todos los derechos reservados
                </div>
                <div class="col-sm-6 footer-copy-2">
                    <i class="fas fa-map-marker-alt"></i> Plaza principal - Chupaca - Perú
                </div>
            </div>
        </div>
    </div>     
</footer>