
<div class="popup-container">

    <div>
        <div class="popup">
    
            <!-- Swiper -->
            <div class="swiper-container swiper-popup">
                <button id="popup-close">
                    <p class="align-middle mb-0">x</p>
                </button>
                <div class="swiper-wrapper">
                    <div class="swiper-slide popup-img"><div style="background: url(../../../assets/anuncio01.jpg);"></div></div>
                    <div class="swiper-slide popup-img"><div style="background: url(../../../assets/anuncio02.jpg);"></div></div>
                    <div class="swiper-slide popup-img"><div style="background: url(../../../assets/noticia01.jpg);"></div></div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>