
<aside>
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-12">
                <h3 class="titulos mb-1">
                    <img class="icon pb-1" src="assets/icons/icon14.png"  width="35" alt=""> Enlaces de Interes
                </h3>
            </div>

            <div class="col-12">
                <div class="row m-0">
                    <div class="col-12">
                        <div class="aside-top-bg">
                            <img src="assets/web/aside-top.png" alt="" width="100%">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-xl-3"></div>
                    <div class="col-12 mb-xl-4 mb-lg-4 mb-md-4 mb-sm-4 mb-3"></div>
                    <div class="col-12 mb-xl-4 mb-lg-4 mb-md-4 mb-sm-3 mb-2"></div>
                    <div class="col-12 mb-xl-4 mb-lg-4 mg-md-2 mb-sm-2 mb-2"></div>
                   
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-1 mb-2">
                <a class="aside-item" routerLink="/cultura">
                    <div style="background: url(assets/web/cultura.jpg);" class="bg-res"></div>
                    <span class="bg-h-aside bg-01">Cultura</span>
                    <div class="bg-aside-efect"></div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-1 mb-2">
                <a class="aside-item" routerLink="/historia">
                    <div style="background: url(assets/web/historia.jpg);" class="bg-res"></div>
                    <span class="bg-h-aside bg-05">Historia</span>
                    <div class="bg-aside-efect"></div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-1 mb-2">
                <a class="aside-item" routerLink="/turismo">
                    <div style="background: url(assets/web/turismo.jpg);" class="bg-res"></div>
                    <span class="bg-h-aside bg-04">Turismo</span>
                    <div class="bg-aside-efect"></div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-1 mb-2">
                <a class="aside-item" routerLink="/gastronomia">
                    <div style="background: url(assets/web/gastronomia.jpg);" class="bg-res"></div>
                    <span class="bg-h-aside bg-06">Gastronomia</span>
                    <div class="bg-aside-efect"></div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-1 mb-2">
                <a class="aside-item">
                    <div style="background: url(assets/web/seguridad.jpg);" class="bg-res"></div>
                    <span class="bg-h-aside bg-02">Seguridad</span>
                    <div class="bg-aside-efect"></div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-1 mb-2">
                <a class="aside-item">
                    <div style="background: url(assets/web/obras.jpg);" class="bg-res"></div>
                    <span class="bg-h-aside bg-03">Obras</span>
                    <div class="bg-aside-efect"></div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-1 mb-2">
                <a class="aside-item">
                    <div style="background: url(assets/web/defensa.jpg);" class="bg-res"></div>
                    <span class="bg-h-aside bg-04">Defensa Civil</span>
                    <div class="bg-aside-efect"></div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-1 mb-2">
                <a class="aside-item">
                    <div style="background: url(assets/web/desarrollo.jpg);" class="bg-res"></div>
                    <span class="bg-h-aside bg-05">Desarrollo Humano</span>
                    <div class="bg-aside-efect"></div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-1 mb-2">
                <a class="aside-item" routerLink="/convocatorias">
                    <div style="background: url(assets/web/trabajos.jpg);" class="bg-res"></div>
                    <span class="bg-h-aside bg-06">Convocatorias</span>
                    <div class="bg-aside-efect"></div>
                </a>
            </div>
        </div>
    </div>
</aside>